[submodule "Places365_translearn"]
	path = Places365_translearn
	url = https://github.com/GKalliatakis/Keras-VGG16-places365.git
[submodule "Place365_translearn"]
	path = Place365_translearn
	url = https://github.com/GKalliatakis/Keras-VGG16-places365.git
