exportPattern("^[[:alpha:]]+")
import(magick)
import(keras)
import(reticulate)
# keras_models <- import("keras.models")
#vgg16_place365 <- import_from_path("vgg16_places_365", path = "/Users/benchiang/pythonProject/Keras-VGG16-places365", convert = TRUE, delay_load = FALSE)
#keras_vggface <- import_from_path("keras_vggface", path = "/Users/benchiang/pythonProject/VGG_Face_Trial/keras-vggface", convert = TRUE, delay_load = FALSE)
import(tidyverse)
# joblib <- import("joblib")
# numpy <- import("numpy")
# pd <- import("pandas")
# sklearn_preprocessing <- import("sklearn.preprocessing")
# sklearn_decomp <- import("sklearn.decomposition")
import(tidyverse)
import(cluster)
import(factoextra)
# pil <- import("PIL")
